.shareBox {
  padding: 20px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.shareBox input {
  border: 0;
  outline: 0;
  padding: 10px;
}

.shareActions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hr {
  margin-block: 20px;
}

.share-btn {
  color: white;
  background-color: green;
}
